 <meta charset="utf-8">
<h2>Instrucciones.</h2>


<h3>Menú:</h3>

<p>
Existen dos vinculos en el encabezado de la página (Home y Ayuda), el primero nos lleva al juego y el segundo nos trae a esta ventana.

</p>
<h3>Inicio del juego:</h3>
<p>
Cuando se da clic a la opción 'Home' se carga el juego por primera vez; para que empieze solo hay que escribir el nombre del usuario (Hagman) y para eso hay que dar clic en el vínculo 
" De clic aquí y escriba su nombre para iniciar",  la categoría de este primer juego es por omisión "número ".
</p>
<p>
También se puede iniciar un nuevo juego dando clic al botón reiniciar o cambiando la categoría sin haber terminado el juego.
</p>
<p>
Para intentar adivinar una letra se debe ubicar el cursos en el campo de texto que esta debajo de la etiqueta " Escribe aquí una letra: ", basta con teclear la letra para que el juego
evalue si esta coincide con alguna de las letras de la palabra a adivinar.
</p>


<h3>Fin del juego:</h3>


El juego se termina de 4 maneras:
<ul>
  <li>Cuando el jugador adivina la palabra.</li>
  <li>Cuando el jugador pierde el juego.</li>
  <li>Cuando el jugador reinicia el juego, en este caso sufre una penalización.</li>
  <li>Cuando el jugador cambia de categoría, en este caso se concidera un reinicio y tiene la misma penalizacion.</li>
</ul> 


<h3>Puntuación:</h3>

<p>
La puntuación se acumula a lo largo de varios juegos y se calcula de la siguiete manera:

Por cada letra adivinada el juego suma +1 punto al jugador.
Por cada letra que no coincida el juego resta -1 punto al jugador.
Por cada letra que se ingrese y coincida con una ya usada (acertada o no) el sistem resta -5 puntos al jugador.
Por cada palabra adivinada se suman +10 puntos al jugador.
Cada vez que se reinicia el juego se restan -10 puntos al jugador.
Cada vez que se cambia de categoría sin haber terminado un juego se restan -10 puntos al jugador.

</p>



